@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Concert+One');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Righteous', cursive;
font-family: 'Ubuntu', sans-serif;
font-family: 'Permanent Marker', cursive; */

*,
html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-image: url('https://i.ytimg.com/vi/y3w_52Ap4rg/maxresdefault.jpg');
  background-color: #dec4ff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding:0;
  margin:0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
label, button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.row {
  margin: 0;
}
.header {
  height: 18vh;
  width: 100%;
  position: relative;
  align-items: center;
}
.title {
  position: relative;
  top: 31%;
}
.accuracy {
  padding-bottom: 10px;
}
.musicgif{
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("https://i.imgur.com/nNhDQwc.gif");
  z-index: 3000;
  height: 5vh;
  width: 6vw;
  position: relative;
  display: inline-block;
  top: 26%;
  left: 24%;
}
.speakerbtn{
  width: 30px;
  height: 30px;
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: inline-block;
  top: 5px;
  right: 2%;
  position: absolute;
  /* width: 18%;
  height: 11%; */
  cursor: pointer;
  background-image: url('images/speakerwhite.jpg');
  z-index: 5000;
}
.mutebtn{
  background-image: url('images/mutewhite.png');
}
a:focus {
  outline: none;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: whitesmoke;
}
.link {
  position: absolute;
  text-decoration: none;
  top: 3%;
  left: 2%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: whitesmoke;
}
.setting{
  position: absolute;
  text-decoration: none;
  top: 13%;
  right: 15%;
  font-family: 'Montserrat', sans-serif;
  color: #487bef;
}
.statstitle{
  font-size: 1.7rem;
  margin-bottom: 5%;
  margin-top: 13%;
}
.statRow{
  padding:0;
}
.gamestats {
  font-size: 1.5rem;
  border-radius: 15px;
  width: 93%;
  background-color:#c7ecee;
  opacity: 0.85;
  text-align: center;
  padding-top: 1%; 
  font-size: 1em;
  margin: 10px auto;
  text-align: center;
  font-weight: 600;
  height: 55%;
  display: flex;
  justify-content: center; 
  align-content: center;
  align-items: center;
}
.gamestats div{
  padding:0;
}
.reset, .mute {
  all: unset;
  cursor: pointer;
  padding: 6%;
  background-color:#7444d4;
  color: white;
  box-shadow: 2px 3px 3px #041310;
  margin-bottom: 10%;
  z-index: 5000;
  /* */
  border-radius:10px;
	border-bottom:4px solid rgb(4, 24, 14);
  box-shadow: 3px 3px 3px #999;
  transition: all .05s linear;
  font-family: 'Montserrat', sans-serif;
  width: 50%;
  position: relative;
  top: 0px;
}
.reset:active {
	box-shadow: 2px 2px 2px #777;
	border-bottom:1px solid rgb(4, 24, 14);
	transform: translateY(3px);
}
.reset:hover {
  background-color:#ff7675;
}
.cardRow{
  text-align: center;
}
.game-area {
  width: 100%;
  min-height: 85vh;
  margin:0;
}
.cardset {
  width: 100%;
  height: 80%;
} 
.tv {
  top: 10%;
  width: 100%;
  position: relative;
}
.tvcover {
  position: absolute;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  top: 26%;
  left: 21%;
  width: 61%;
  height: 49%;
  z-index: 1000;
}
.tvcoverblue{
  background-color:blue;
  opacity: 0.3; 
  position: absolute;
  top: 26%;
  left: 21%;
  width: 61%;
  height: 49%;
  z-index: 100;
}
.cardcontainer {
  margin-top: 0.9%;
  margin-left: 1.5%;
  display: inline-block;
  background-image: url("images/container.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: 3px 3px 2px rgba(247,242,247,0.7);
  height: 15vh;
  width: 15%;
  justify-content: center;
  align-content: center;
  border-radius: 5px;
}
.card {
  margin:auto;
  top: 5%;
  height: 90%;
  width: 90%;
  background-image: url("images/yellow.gif");
  position: relative;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 5px;
}
.front {
  position: absolute;
  margin:auto;
  top: 5%;
  left: 4%;
  height: 90%;
  width: 90%;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.back {
  position: relative;
  z-index: 500;
  margin:auto;
  height: 100%;
  width: 100%;
  cursor: pointer;
  /* opacity: 0.6; */
  background-color: pink;
  border-radius: 5px;
  background-image: url("images/logo1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.back:hover{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}
.frontimage {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 5px;
  z-index: 100;
}
img {
  width: 100%;
  height: 100%;
  margin:auto;
}
.remote{
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("images/remote.gif");
  z-index: 3000;
  height: 17%;
  width: 39%;
  position: absolute;
  top: 81%;
  left: -4%;
}
/* modal */
.modal {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 50%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 1.6rem 3rem;
  border: 3px solid black;
  border-radius: 5px;
  background: white;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-align: center;
}
.message {
  font-size: 2rem;
  margin-bottom: 1.6rem;
  margin-top: 0;
}
.retrybtn {
  color:inherit;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: inherit;
  background: white;
  padding: 0.3rem 3.4rem;
  border: 3px solid black;
  margin-right: -0.4rem;
  margin-top: 1rem;
  box-shadow: 0 0 0 black;
  transition: all 0.2s;
}
.retrybtn:last-child {
  margin: 0;
}
.retrybtn:hover {
  box-shadow: 0.4rem 0.4rem 0 black;
  transform: translate(-0.4rem, -0.4rem);
}
.retrybtn:active {
  box-shadow: 0 0 0 black;
  transform: translate(0, 0);
}
.options {
  display: flex;
  margin-top: 17px;
  flex-direction: row;
  justify-content: space-between;
}
.titletext {
  position: relative;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 2px 0 #bbb, 0 3px 0 #b9b9b9, 0 4px 0 #aaa, 0 5px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
  color: #fff;
  text-align: center;
  top: 10px;
}
.label{
  margin-bottom: 0;
}
.stat {
  margin: 0 3px;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}
@media (min-width: 1111px) and (max-width: 2650px) {
  .titletext h2 {
    font-size: 3rem;
  }
  .gamestats {
    height: 90%;
    display: flex;
    align-self: flex-start;
    align-content: flex-start;
  }
  .resetbtn{
    margin-top: 15px;
  }
  .cardcontainer {
    height: 18vh;
  }
  /* .speakerbtn {
    left: 10%;
    bottom: -1%;
  } */
}

@media screen and (max-width: 1110px) {
  .titletext h2 {
    font-size: 3rem;
  }
  .link{
    font-size: 1rem;
  }
  .titletext h2 {
    font-size: 3rem;
  }
  .gamestats {
    height: 78%;
    display: flex;
    align-self: flex-start;
    align-content: flex-start;
    margin-left: 10%;
  }

  /* .resetbtn{
    margin-top: 15px;
  } */

}


@media screen and (max-width: 992px) {
  .titletext h2 {
    font-size: 2.5rem;
  }
  a {
    top: 13%;
    right: 8%;
    font-size: 1.5rem;
  }
  .link{
    font-size: 1rem;
  }
  .reset {
    top: 5px;
  }
  /* .speakerbtn {
    top: 85%;
    left: 4%;
    width: 29%;
    height: 20%;
  } */
  .gamestats {
    height: 90%;
    display: flex;
    align-self: flex-start;
    align-content: flex-start;
    margin-left: 10%;
  }
  /* .resetbtn{
    margin-top: 15px;
  } */

}

@media screen and (max-width: 768px) {
  .gamestats{
    height: 87%;
    padding-top: 0;
    margin-left: auto;
  }
  .game-area {
    padding-top: 10px;
  }
}

@media screen and (max-width: 576px) {
  .titletext h2 {
    font-size: 1.7rem;
  }
  a {
    top: 13%;
    right: 10%;
  }
  .gamestats, .statstitle, .accuracy, .attempts, .games-played {
    font-size: 0.5rem;
  }
  .gamestats{
    height: 87%;
    padding-top: 0;
    margin-left: auto;
  }
  .musicgif {
    display: none;
  }
  .link{
    font-size: .8rem;
  }
  .modal {
    width : 50%;
  }
  label, .value {
    font-size: .8rem;
  }
  .reset {
    font-size: .7rem;
    margin: 0;
    width: 61%;
    padding: 6px;
  }
  .header {
    height: 12vh;
  }
  .game-area {
    padding-top: 10px;
    margin-top: 15px;
  }
} 

@media screen and (max-width: 440px) {
  .titletext h2 {
    font-size: 1.2rem;
  }
  label, .value {
    font-size: .6rem;
  }
  .reset {
    font-size: .5rem;
  }
  .modal p {
    margin-bottom: 10px;
    font-size: .7rem;
  }
  #message {
    font-weight: 700;
    font-size: 1rem;
  }
  .speakerbtn {
    width: 20px;
    height: 20px;
  }
}

@media only screen and (min-device-width: 400px) and (max-device-width: 1024px) and (orientation:landscape) {
  .titletext h2 {
    font-size: 1.5rem;
  }
  label, .value {
    font-size: .8rem;
  }
  .reset {
    font-size: .7rem;
    padding: 3px;
  }
  .cardcontainer {
    height: 19vh;
  }
  .message{
    font-weight: 700;
    font-size: 1rem;
  }
}

@media only screen and (max-device-width: 740px) and (orientation:landscape) {
  .tvcontainer {
    display: none;
  }
}